#body-home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/home-background.jpg');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(6px);
}

.home-nav:hover {
    text-decoration: underline !important;
}

.thumbnail {
    aspect-ratio: 1.5 !important; /* to keep the original porpotion (1200x800)*/
}

/* for the campground cards (on the Index) */
.min-w-250 {
    min-width: 250px;
}

form {
    max-width: 800px !important;
}

#show-map {
    width: 100%; 
    height: 300px;
}

#cluster-map {
    width: 100%;
    height: 400px;
}

.flash-relative {
    width: 50%; 
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.flash-absolute {
    position: absolute;
    width: 50%; 
    min-width: 300px;
    max-width: 600px;
    top: 65px; left: 50%;
    transform: translateX(-50%);
}

.relative {
    position: relative;
}