<!-- basic Boostrap navbar w/ a toggle button -->

<!-- navbar/bg-dark to use the dark styling & sticky-top to fix it on the top of the page, regardless of the scrolling -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">Yelp Camp</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/campgrounds">All Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
        <a class="nav-link disabled" aria-disabled="true">Pricing</a>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
          <a class="nav-link " href="/login">Login</a>
          <a class="nav-link " href="/Register">Register</a>
        <% } else { %>
          <a class="nav-link">@<%= currentUser.username %></a>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    
    </div>
  
  </div>

</nav>